<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="UniMatrix" Publisher="CN=mavo" Version="2.0.66.0" />
  <mp:PhoneIdentity PhoneProductId="c7e1a2b3-d4f5-4a6b-8c9d-0e1f2a3b4c5d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UniMatrix</DisplayName>
    <PublisherDisplayName>mavodev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15254.0" MaxVersionTested="10.0.17763.0" />
    <!-- libolm (olm.dll) is native C++ and links the appcontainer VC++ runtime
         (MSVCP140_APP.dll / VCRUNTIME140_APP.dll), which ships in this framework package.
         Without this dependency the OS loader can't load olm.dll in the sandbox and every
         P/Invoke into it fails at runtime ("Unresolved P/Invoke method 'olm_...!olm.dll'"). -->
    <PackageDependency Name="Microsoft.VCLibs.140.00" MinVersion="14.0.24217.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UniMatrix.App">
      <uap:VisualElements DisplayName="UniMatrix" Description="A Matrix chat client for Windows 10 Mobile" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="UniMatrix" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\LockScreenLogo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>